<div class="row">
  <div class="col-md-6">
    <h2>Make a Post!</h2>

    <form class="form blogpost-form">
      <div class="form-group">
        <label for="blogpost-title">Title</label>
        <input class="form-input" type="text" id="blogpost-title" />
      </div>
      <div class="form-group">
        <label for="blogpost-content">Content</label>
        <input class="form-input" type="text" id="blogpost-content" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="new-blogpost-submit">Post</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/newblogpost.js"></script>